<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{static_url('js/fastsms.js')}}"></script>
    <meta charset="UTF-8">
    <title>商银信快捷支付demo</title>
</head>
<body>
<form method="post" target="_blank">
		<table width="100%" border="0">

			<tr>
				<td width="24%" align="right">接口名称：</td>
				<td width="76%"><input type="text" name="service"
					id="service" value="directPay"></td>
			</tr>
			<tr>
				<td width="24%" align="right">商户编号：</td>
				<td width="76%"><input type="text" name="merchantId"
					id="merchantId" value="001016062701807"></td>
			</tr>
			<tr>
				<td width="24%" align="right">notifyUrl：</td>
				<td width="76%"><input type="text" name="notifyUrl"
					id="notifyUrl" style="width:400px;" value="http://127.0.0.1:8080/allscore/">(回调地址ip和端口需要更具测试地址更改)</td>
			</tr>
			<tr>
				<td width="24%" align="right">签名类型：</td>
				<td width="76%"><select name="signType">
						<option value="RSA">RSA秘钥</option>
						<option value="CA">CA证书</option>
				</select></td>
			</tr>
			<tr>
				<td width="24%" align="right">参数编码字符集：</td>
				<td width="76%"><input type="text" name="inputCharset" id="inputCharset"
					value="UTF-8"></td>
			</tr>
				<tr>
				<td width="24%" align="right">外部订单号：</td>
				<td width="76%"><input type="text" name="outOrderId"
					id="outOrderId"></td>
			</tr>
			<tr>
				<td width="24%" align="right">商品名称：</td>
				<td width="76%"><input type="text" name="subject" id="subject"
					value="test"></td>
			</tr>
			<tr>
				<td width="24%" align="right">商品描述：</td>
				<td width="76%"><input type="text" name="body" id="body"
					value="body"></td>
			</tr>
			<tr>
				<td width="24%" align="right">商品价格：</td>
				<td width="76%"><input type="text" name="transAmt"
					id="transAmt" value="0.01"></td>
			</tr>
			<tr>
				<td width="24%" align="right">支付方式：</td>
				<td width="76%">

					<select name="payMethod" id="payMethod">
						<option value="fastSms">快捷API接口</option>
				<!--		<option value="commonFastPay">普通快捷</option>
					    <option value="commonPay">收银台</option>  -->
					</select>
				</td>
			</tr>
			<tr>
				<td width="24%" align="right">外部账户ID：</td>
				<td width="76%"><input type="text" name="outAcctId"
					id="outAcctId" value="lidong"></td>
			</tr>
			<tr>
				<td width="24%" align="right">（快捷支付必要参数）卡类标识：</td>
				<td width="76%"><select name="cardType">
						<option value="debit">储蓄卡</option>
						<option value="credit">信用卡</option>
				</select></td>
			</tr>
			<tr>
				<td width="24%" align="right">银行卡号：</td>
				<td width="76%"><input type="text" name="bankCardNo"
					id="bankCardNo" value=""></td>
			</tr>
			<tr>
				<td width="24%" align="right">姓名：</td>
				<td width="76%"><input type="text" name="realName"
					id="realName" value=""></td>
			</tr>
			<tr>
				<td width="24%" align="right">身份证号码：</td>
				<td width="76%"><input type="text" name="cardId"
					id="cardId" value=""></td>
			</tr>
			<tr>
				<td width="24%" align="right">手机号码：</td>
				<td width="76%"><input type="text" name="phoneNo"
					id="phoneNo" value=""></td>
			</tr>

			<tr>
				<td width="24%" align="right">银行卡编号：</td>
				<td width="76%"><select name="bankId">
						<option value="ABC">中国农业银行</option>
						<option value="BJBANK">北京银行</option>
						<option value="BJRCB">北京农商银行</option>
						<option value="BOC">中国银行</option>
						<option value="CEB">中国光大银行</option>
						<option value="CIB">兴业银行</option>
						<option value="CITIC">中信银行</option>
						<option value="CMBC">中国民生银行</option>
						<option value="ICBC">中国工商银行</option>
						<option value="NBBANK">宁波银行</option>
						<option value="SDB">深圳发展银行</option>
						<option value="HXBANK">华夏银行</option>
						<option value="SPDB">浦发银行</option>
						<option value="PSBC">中国邮政储蓄银行</option>
						<option value="HZCB">杭州银行</option>
						<option value="NJCB">南京银行</option>
						<option value="COMM">交通银行</option>
					    <option value="CMB">招商银行</option>
						<option value="CCB">中国建设银行</option>
						<option value="GDB">广发银行</option>

				</select></td>
			</tr>
				<tr>
				<td width="24%" align="right">接口版本号：</td>
				<td width="76%"><select name="version">
						<option value="1">1</option>
						<option value="">老版本</option>
				</select></td>
			</tr>
			<tr>
				<td align="right">操作：</td>
				<td><input type="submit" name="submit" value="签约发送短信" /></td>
			</tr>
		</table>
	</form>
</body>
</html>